body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.sidebar {
    width: 80px;
    background-color: #3232ff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.sidebar .logo {
    width: 100%;
    height: auto;
}

.main-content {
    flex: 1;
    padding: 20px;
}

h1 {
    text-align: center;
}

.info-cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.temperature {
    background-color: red;
}

.humidity {
    background-color: blue;
}

.pressure {
    background-color: yellow;
    color: black;
}

.luminosity {
    background-color: green;
}

.value {
    font-size: 24px;
    font-weight: bold;
}

.data-charts {
    display: grid;
    grid-template-areas:
        'large large large'
        'small small medium';
    grid-gap: 10px;
}

.chart {
    background-color: grey;
    border-radius: 10px;
}

.large {
    grid-area: large;
    height: 200px;
}

.small {
    height: 100px;
}

.medium {
    grid-area: medium;
    height: 220px;
}