html {
    font-size: 62.5%;
    font-family: var(--ff);
    color: var(--clr-font);
    transition: var(--transition);
}

body {
    background-color: var(--clr-background);
    transition: var(--transition);
}

section {
    transition: var(--transition);
    box-shadow: var(--shadow-card);
    padding: 1.6rem;
    border-radius: 1.6rem;
}

footer{
    background-color: var(--clr-card);
    transition: var(--transition);
    font: var(--ts-normal-semibold);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 12rem;
}

a {
    color: var(--clr-link);
    text-decoration: none;
    transition: var(--transition);
}

/* Header */

.navbar {
    background-color: var(--clr-card);
    transition: var(--transition);
    min-height: 8.5rem;
    padding: 1rem;
    box-shadow: var(--shadow-card);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    transition: var(--transition);
    height: 5rem;
    margin-left: 1.5rem;
}

.theme-btn {
    margin-right: 4rem;
}

/* CONTAINER */

.container {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
    margin: 3rem 1.6rem;
}

/* STATE */

.state-select {
    font: var(--ts-normal-semibold);
    background-color: var(--clr-card);
    transition: var(--transition);
    box-shadow: var(--shadow-card);
    border-radius: 1rem;
    position: relative;
}

.state-select-toggle {
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.state-select-toggle__icon--rotate {
    transform: rotate(-180deg);
}

.state-select-list {
    background-color: var(--clr-card);
    transition: var(--transition);
    box-shadow: var(--shadow-card);
    width: 100%;
    max-height: 30rem;
    overflow-y: scroll;
    border-radius: 1rem;
    position: absolute;
    top: calc(100% + 1.5rem);
    visibility: hidden;
    opacity: 0;
}

.state-select-list--show {
    visibility: visible;
    opacity: 1;
    top: calc(100% + .75rem);
}

.state-select-list__search {
    background-color: var(--clr-background);
    transition: var(--transition);
    color: var(--clr-font);
    width: 96%;
    padding: 1.6rem 0 1.6rem 1.6rem;
    border-radius: 1rem;
    border: none;
    outline: none;
}

.state-select-list__search::placeholder {
    color: var(--clr-font);
    transition: var(--transition);
    opacity: .6;
}

.state-select-list__item {
    padding: 1.6rem;
    color: var(--clr-link);
    cursor: pointer;
}

.state-select-list__item:hover {
    background-color: var(--select-hover);
    color: var(--clr-link);
}

.state-select-list__item--hide {
    display: none;
}

/* CARDS */

.status {
    min-height: 12rem;
    display: flex;
    align-items: center;
}

.status__icon {
    font-size: 3.6rem;
    margin-right: .8rem;
}

.info {
    font: var(--ts-caption);
    text-transform: uppercase;
}

.temperatura {
    background-color: var(--bg-temperatura);
    color: var(--clr-temperatura);
}

.umidade {
    background-color: var(--bg-umidade);
    color: var(--clr-temperatura);
}

.pressao {
    background-color: var(--bg-pressao);
    color: var(--clr-temperatura);
}

.luminosidade {
    background-color: var(--bg-luminosidade);
    color: var(--clr-temperatura);
}

/* DATAS */

.data-box__header {
    font: var(--ts-caption);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

/*  FOOTER */

.footer-text__soucer {
    margin-bottom: 3.2rem;
}